---
import './Newsteler.css'
---
<section class="newsteller">
 <div class="info-section">
  <p class="text-info-news">35,000+ already joined</p>
  <h3 class="news-heading">Stay up-to-date with what we’re doing</h3>
 </div>
 <div class="form-container">
  <form class="form">
    <div class="form-group">
      <input 
        class="form-control"
        name="emailAdress"
        type="text" 
        placeholder="Enter your Email Addres"
      >
      <img src="./assets/icon-error.svg" alt="error icon" class="error-icon">
      <span class="error-message"></span>
    </div>
    <button class="btn-form" type="submit">Contact Us</button>
  </form>
 </div>
</section>

<script src="./form.js"></script>