---
// Layout
import Layout from "@layouts/Layout.astro"

// Shared
import Container from "@components/shared/Container.astro"

// Sections
import NavBar from "@components/NavBar/NavBar.astro"
import Header from "@components/Header/Header.astro"
import Features from "@components/Features/Features.astro"
import Extensions from "@components/Extensions/Extensions.astro"
import Faq from "@components/Faq/Faq.astro"
import Newsttesler from "@components/Newsttesler/Newsttesler.astro"
import Footer from "@components/Footer/Footer.astro"
---

<Layout 
  title='Frontend Mentor | Bookmark landing page' 
  favicon="./assets/favicon.png"
>
  <main>
    <Container>
      <NavBar />
      <Header />
    </Container>
    <Features />
    <Extensions />
    <Faq />
    <Newsttesler /> 
    <Footer />   
  </main>
</Layout>
