---
interface Props {
	title: string;
	favicon: string;
}

const { title, favicon } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="./css/hamburgers.css">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
	:root {
		/* Primary Colors */
		--soft-blue: hsl(231, 69%, 60%);
		--soft-red: hsl(0, 94%, 66%);
		
		/* Neutral Colors */
		--graylish-blue:hsl(229, 8%, 60%);
		--very-dark-blue: hsl(229, 31%, 21%);
		
		/* Font Family */
		--font-rubik: "Rubik", sans-serif;
		--regular: 400; --bold: 500;

		/* Font sizes base = 16px xs = 12px sm= 14px lg:18px */
		--font-xs: 0.75rem; 
		--font-sm: 0.875rem; 
		--font-base: 1rem; 
		--font-lg: 1.125rem; 
		/* Line Heights */
		--leading-xs: 1rem;
		--leading-sm: 1.25rem;
		--leading-base: 1.5rem;
		--leading-lg: 1.75rem;

	}

	*,*::after,*::before {
		box-sizing: border-box;
	}
	html {
		font-family: var(--font-rubik);
		font-size: 16px;
		line-height: var(--leading-base);
		overflow-x: hidden;
		color: var(--very-dark-blue);
	}

	body {
		margin: 0;
		padding: 0;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.text-gray {
		color: var(--graylish-blue);
	}
</style>
